* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0px;
    margin: 0px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.container {
    max-width: 1100px;
    margin: 0px auto;
}

.row {
    width: 100%;
}

#header {
    background-color: rgb(0, 220, 44);
    border: black;
    height: 100px;
    margin: auto;
    clear: both;
}

#header>:nth-child(1) {
    height: 88%;
    width: 45%;
    color: rgb(255, 255, 255);
    font-size: 50px;
    float: left;
    text-align: left;
    margin-left: 3%;
    font-weight: bold;
    padding: 10px 0px 0px 0px;
}

#header>:nth-child(2) {
    height: 100%;
    width: 50%;
    float: left;
    /* background-color: rgb(209, 189, 163); */
}

#header>:nth-child(2)>a {
    color: rgb(8, 43, 0);
    width: 45%;
    height: 20%;
    border-radius: 5px;
    font-size: 15px;
    float: left;
    margin: 25px 5px;
    text-align: center;
    padding: 10px 0px;
    cursor: pointer;
    vertical-align: middle;
    background-color: rgba(255, 255, 0, 0.902);
    float: right;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table-hover>tbody tr:hover {
    background-color: rgb(203, 203, 203);
    cursor: pointer;
}

.table-bordered>tbody td {
    padding: 9px 0px;
}

.thead-dark {
    background-color: rgb(0, 55, 20);
    color: white
}

.thead-dark>tr>th:not(:last-child) {
    padding: 10px 0px;
}

.edit {
    color: rgb(88, 88, 255);
}

.deposit {
    color: rgb(238, 174, 0);
}

.withdraw {
    color: rgb(0, 114, 21);
}

.remove {
    color: red;
}

.transfer {
    color: rgb(105, 0, 121);
}

.fa-solid {
    font-size: 20px;
    margin: 0px 5px;
}

#action {
    text-align: center;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

a {
    text-decoration: none;
}

.fieldset {
    border: none;
    outline: none;
}

.sub-row {
    float: left;
    width: 50%;
    margin: 10px 0px 10px 0px;
}

.form-control {
    display: block;
    width: 85%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-outline-primary {
    color: #157e00;
    border-color: #157e00;
}

@media only screen and (max-width: 600px) {
    
}
