.header{
    background-color: rgb(24, 40, 24);
    color: white;
    padding: 30px 15px;
}
.header>div>h1 {
    font-weight: 600;
    font-size: 50px;
}
.header .btn {
    float: right;
    min-width: 50px;
    outline: none !important;
    margin-top: 10px;
    margin-left: 10px;
}

.thead-green {
    background-color: rgb(30, 81, 40);
    color: #ffffff;
    text-align: center;
    font-size: larger;
}

.table>tbody>tr>:nth-child(8) {
    text-align: center;
}

.table>tbody>tr>:nth-child(7) {
    text-align: right;
}

.float-left {
    float: left;
}

form {
    padding-top: 20px;
}

label {
    font-weight: 500;
}
.float-left {
    float: left;
}

.clear {
    clear: both;
}

.pl {
    padding-left: calc(var(--bs-gutter-x) / 2);
}

.pr {
    padding-right: calc(var(--bs-gutter-x) / 2);
}